@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');

@theme {
  --color-primary: #6366f1;
  --color-primary-light: #a5b4fc;
  --color-primary-dark: #4338ca;
  --color-secondary: #ec4899;
  --color-accent: #06b6d4;

  --font-family-sans: "Outfit", sans-serif;

  --color-bg-primary: #030014;
  --color-bg-secondary: #0f172a;
  --color-bg-tertiary: #1e293b;
}

body {
  @apply bg-bg-primary text-slate-200 font-sans antialiased overflow-x-hidden;
}